.table{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    background-color: black;
    margin-left: 25%;
    height:50%;
}
table{
    width: 60%;
}
td{
    padding: 2%;
}
.top{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
}
.mid{
   font-family: 'Times New Roman', Times, serif;
   font-size:larger;
   color: rgb(255, 255, 255);
}
td{
    color: aliceblue;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
